/* TIPOGRAFIA */


@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;600;800&display=swap');



/* SCROLL (BARRA LATERAL) */



html{
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #d4c9c9;
  border-radius: 6px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #606060;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
}



/* NAV */



.nav{
  width: 100%;
  height: 7vh;
  position: fixed;
  z-index: 1000; /* Ajusta según sea necesario */
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 1px rgba(121, 113, 113, 0.62);
}

.nav_ul{
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2em;
  padding-right: 3em;
  font-family: 'Figtree', sans-serif;
  font-weight: 600
}

.bx-laptop{
  font-size: 40px;
  color: transparent;
  background: linear-gradient(to right,#264de4, #2965f1 );
  -webkit-background-clip: text;
  background-clip: text;
}




/* HEADER */




.body__header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero {
  position: relative;
  background-image: url('https://aakash-sharma.netlify.app/static/media/cloudBg.f28b5c6961fd82be839c.png');
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  padding-bottom: 2em;
  margin-bottom: -2em;
}

.hero::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  pointer-events: none;
}

.header__article{
  width: 80%;
  height: 85vh;
  padding-top: 8vh;
  margin-top: 8vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.article__section{
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article__h1{
  font-family: 'Figtree', sans-serif;
  font-weight: 800;
  font-size: 3.5em;
  width: 100%;
  flex-wrap: wrap;
}

.article__span{
  color: #264de4;
}

.article__p{
  font-family: 'Figtree', sans-serif;
  font-weight: 300;
  margin-top: 1.5em;
  font-size: 1.5em;
  width: 100%;
}

.figure__article{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__img{
  width: 60%;
  object-fit: cover;
  border-radius: 1em;
  box-shadow: 0px 0px 30px 1px;
}




/* MAIN SECTION ABOUT ME */




main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section__about{
  min-height: 40vh;
  width: 80%;
  margin-bottom: 4rem;
  margin-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section__h2{
  font-size: 3em;
  font-family: 'Figtree', sans-serif;
  font-weight: 600
}

.section__h1{
  font-size: 2.2em;
  margin-top: 3em;
  margin-bottom: 1em;
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
  align-self: flex-start;
}

.section__p{
  font-size: 1.5em;
  font-family: 'Figtree', sans-serif;
  font-weight: 300;
}




/* MAIN SECTION HABILITIES */




.article__habilities{
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

}

.section__habilities{
  width: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  animation: scrollToLeft 8s linear infinite;

}

.about__h2{
  font-size: 2.2em;
  font-family: 'Figtree', sans-serif;
  font-weight: 600
}

@keyframes scrollToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.item{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.habilities-item {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Figtree', sans-serif;
  font-weight: 600
}




/* ICONOS HABILITIES */




.bxl-html5{
  font-size: 70px;
  color: transparent;
  background: linear-gradient(to right, #e34c26, #f06529 ,#f17641 );
  -webkit-background-clip: text;
  background-clip: text;
}

.bxl-css3{
  font-size: 70px;
  color: transparent;
  background: linear-gradient(to right,#264de4, #2965f1 );
  -webkit-background-clip: text;
  background-clip: text;
}

.bxl-javascript{
  font-size: 70px;
  color: transparent;
  background: linear-gradient(to right, #f0db4f, #c2b03a);
  -webkit-background-clip: text;
  background-clip: text;
}

.bxl-nodejs{
  font-size: 70px;
  color: transparent;
  background: linear-gradient(to right, #68a063, #68a063);
  -webkit-background-clip: text;
  background-clip: text;
}

.bxl-vuejs{
  font-size: 70px;
  color: transparent;
  background: linear-gradient(#303030, #303030, #68a063,#68a063, #68a063);
  -webkit-background-clip: text;
  background-clip: text;
}

.bxl-postgresql{
  font-size: 70px;
  color: transparent;
  background: linear-gradient(to right, #0064a5, #336791,  #008bb9);
  -webkit-background-clip: text;
  background-clip: text;
}

.bxl-mongodb{
  font-size: 70px;
  color: transparent;
  background: linear-gradient(to right, #4DB33D, #3FA037);
  -webkit-background-clip: text;
  background-clip: text;
}

.bxl-typescript{
  font-size: 70px;
  color: transparent;
  background: linear-gradient(#264de4, #2965f1);
  -webkit-background-clip: text;
  background-clip: text;
}



/* MEDIA QUERIES */



@media (max-width: 500px){
  .article__h1{
    font-size: 2.5em;
  }
}

@media (max-width: 900px) {
  .header__article {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 5em;
    margin-top: 2em;
  }

  .habilities-item{
    margin-right: 1rem;
  }
}